<!DOCTYPE html>
<html lang="{{settings.language}}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{pageDescription}}" />
        <link rel="icon" type="image/png" href="{{assetsPath}}/favicon.png">
        <link rel="icon" type="image/svg+xml" href="{{assetsPath}}/favicon.svg">
        <title>{{pageTitle}}</title>
        {{>base/custom-head}}
        {{>base/features}}
        {{>base/custom-style}}
    </head>

    <body>
        {{>@partial-block}}
        {{>base/base-script}}
        {{>base/custom-script}}
    </body>
</html>
