<div class="links">
  {{#each posts as |link|}}
    <div class="link-container entering" style="--i: {{@index}}">
      <a class="link" target="_blank" href="{{link.url}}">
        <span class="link-title">{{truncate link.title 70 true}}</span>
        <span class="link-url">{{truncate link.url 50 true}}</span>
        <ul class="link-tags">
        {{#each link.tags as |tag|}}
          {{#if tag.tag}}
            <li class="link-tag">#{{tag.tag}}</li>
          {{else}}
            <li class="link-tag">#{{tag}}</li>
          {{/if}}
        {{/each}}
        </ul>
      </a>
    </div>
  {{/each}}
</div>
{{#with pagination}}
  <div class="pagination">
    <div class="pagination-buttons">
      {{#if previousPage}}
        <a href="{{previousPage}}">« Newer</a>
      {{/if}}
      {{#if nextPage}}
        <a href="{{nextPage}}">Older »</a>
      {{/if}}
    </div>
  </div>
{{/with}}
